<div class="ui fluid action input" id="attributeChoice" data-action="{{ path('sylius_admin_render_attribute_forms') }}" style="margin-bottom: 30px;">
    {{ form_widget(form, {'attr': {'class': 'ui fluid search dropdown', 'id': 'sylius_product_attribute_choice', 'data-attributes': ''}}) }}

    <button class="ui olive labeled icon floating dropdown button" id="add_attributes_group" data-tab="add_attributes_group" tabindex="0" type="button">
        <i class="icon clipboard list"></i> <span class="text"> {{ 'bitbag_sylius_product_attribute_group_plugin.ui.attributes_group'|trans }} </span>

        <div id="menuWithAttributesGroup" class="menu transition hidden" data-attribute-groups tabindex="-1"></div>
    </button>

    <button class="ui green labeled icon button" type="button">
        <i class="icon plus"></i> {{ 'sylius.ui.add_attributes'|trans }}
    </button>
</div>

<script>
    const urlAttributesGroup = "{{ app.request.schemeAndHttpHost }}/api/v2/shop/shop-attributes-groups"
</script>
